<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="Imagenes" value="C:\Users\nahui\Desktop\repositorio\EjercicioPokemon\imagenes\"/>
		<add key ="Imagenes2" value="C:\Users\Prepem\Desktop\repos\EjercicioPokemon\imagenes\"/>
		<add key ="bkp" value="C:\Users\Prepem\Desktop\repos\"/>
	</appSettings>
</configuration>